0x0C-python-almost_a_circle/0-main.py
0x0C-python-almost_a_circle/1-main.py
0x0C-python-almost_a_circle/2-main.py
0x0C-python-almost_a_circle/3-main.py
0x0C-python-almost_a_circle/4-main.py
0x0C-python-almost_a_circle/5-main.py
0x0C-python-almost_a_circle/6-main.py
0x0C-python-almost_a_circle/7-main.py
0x0C-python-almost_a_circle/models/__pycache__/__init__.cpython-38.pyc
0x0C-python-almost_a_circle/models/__pycache__/base.cpython-38.pyc
0x0C-python-almost_a_circle/models/__pycache__/rectangle.cpython-38.pyc
